:root {
  --color-green-400: hsl(172, 67%, 45%);
  --color-grey-50: hsl(189, 47%, 97%);
  --color-grey-200: hsl(185, 41%, 84%);
  --color-grey-400: hsl(184, 14%, 56%);
  --color-grey-500: hsl(186, 14%, 43%);
  --color-green-900: hsl(183, 100%, 15%);
  --color-white: hsl(0, 100%, 100%);
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-48: 3rem;
  --font-regular: 400;
  --font-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

input {
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-weight: var(--font-regular);
  font-style: normal;
  font-size: var(--size-16);
  background-color: var(--color-grey-200);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

article {
  display: grid;
  grid-template-areas:
    "calculator"
    "output";
  gap: var(--size-32);
  border-radius: var(--size-16);
  background-color: var(--color-white);
  padding: 32px;
}

#calculator-form > * + * {
  grid-area: calculator;
  margin-top: 36px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.input-wrapper label {
  color: var(--color-grey-500);
}

.icon-wrapper {
  position: relative;
}

.icon-wrapper img {
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  margin-block: auto;
}

.icon-wrapper input {
  width: 100%;
  padding: 8px;
  text-align: right;
  border-radius: 4px;
  background-color: var(--color-grey-50);
  color: var(--color-green-900);
  font-weight: var(--font-bold);
  font-size: var(--size-24);
}

.icon-wrapper input:focus-visible {
  outline: 2px solid var(--color-green-400);
}

.tip-rates-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border: 0;
  padding-block: 0;
  padding-inline: 0;
  margin-inline: 0;
  margin-block: 0;
}

legend {
  margin-block-end: 8px;
  color: var(--color-grey-500);
}

.tip-rates-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  font-weight: var(--font-bold);
}

.tip-rates-wrapper label {
  border-radius: 8px;
  background-color: var(--color-green-900);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 8px;
}

.tip-rates-wrapper label:last-child {
  background-color: var(--color-grey-50);
}

.tip-rates-wrapper label:last-child:focus-within {
  outline: 2px solid var(--color-green-400);
}

.tip-rates-wrapper span {
  font-size: var(--size-24);
}

.tip-rates-wrapper input[type="radio"] {
  appearance: none;
}

.tip-rates-wrapper input[type="text"] {
  outline: 0;
  min-width: 0;
  margin-inline: 16px;
  background: transparent;
  color: var(--color-green-900);
  text-align: right;
  font-size: var(--size-24);
}

.tip-rates-wrapper label:has(input[type="radio"]:checked) {
  background-color: var(--color-green-400);
  color: var(--color-green-900);
}

.tip-output-wrapper {
  grid-area: output;
  background-color: var(--color-green-900);
  border-radius: 8px;
  padding: 24px;
  padding-top: 36px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.tip-calculation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tip-calculation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-calculation .text {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.per-person {
  color: var(--color-grey-400);
}

.tip-calculation data {
  color: var(--color-green-400);
  font-size: var(--size-32);
  font-weight: var(--font-bold);
}

#reset-button {
  margin-top: 16px;
  border-radius: 4px;
  padding: 16px;
  background-color: var(--color-green-400);
  color: var(--color-green-900);
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

@media (min-width: 64rem) {
  article {
    grid-template-areas: "calculator output";
    grid-template-columns: repeat(2, 1fr);
    max-width: 57.5rem;
  }
  .tip-rates-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .tip-calculation data {
    font-size: var(--size-48);
  }
}
